node_modules/
dist/
.chromium-cache/
*.exe
*.log
*.tmp
*.bak
*.old
*.swp
*.swo
*.DS_Store
*.tgz
*.zip
*.7z
*.tar
*.gz
*.rar
*.map
package-lock.json
.wwebjs_auth/
.wwebjs_cache/
uploads/
body.json
banidos.json
.env
.vscode/
npm-debug.log*
debug.log*
session/
dados/
