node_modules/
dist/
credentials.json
*.exe
*.log
*.tmp
*.bak
*.old
*.swp
*.swo
*.DS_Store
*.tgz
*.zip
*.7z
*.tar
*.gz
*.rar
*.map
package-lock.json
.wwebjs_auth/
.wwebjs_cache/
uploads/
body.json
.env
.vscode/
npm-debug.log*
debug.log*
session/