# Força o Puppeteer a baixar Chromium na pasta do projeto
# Isso garante que o Chromium seja empacotado no instalador
PUPPETEER_CACHE_DIR=.chromium-cache
PUPPETEER_SKIP_DOWNLOAD=false
PUPPETEER_DOWNLOAD_HOST=https://storage.googleapis.com
PUPPETEER_EXPERIMENTAL_CHROMIUM_MAC_ARM=false
